CompileFlags:
  Add:
    - "-std=c++23"

    # ----- QNX target definitions -----
    - "-D__QNX__=800"
    - "-D__EXT_QNX"
    - "-stdlib=libstdc++"
    - "-D__LITTLEENDIAN__"
    - "-D__aarch64__"
    - "-D_XOPEN_SOURCE=700"
    - "-D__QNXNTO__"
    - "-Asystem(unix)"
    - "-U__linux__"
    - "-D__unix__"
    - "-D__unix"
    - "-D__ARM__"
    - "-D__ELF__"
    - "-D_QNX_SOURCE"
    - "-D_POSIX_C_SOURCE=200809L"

    # ----- Toolchain include directories -----
    # C/C++ system includes
    - "-isystem/home/larry/qnx800/host/linux/x86_64/usr/lib/gcc/aarch64-unknown-nto-qnx8.0.0/12.2.0/include/"
    - "-isystem/home/larry/qnx800/target/qnx/usr/include/c++/12.2.0/"
    - "-isystem/home/larry/qnx800/target/qnx/usr/local/include"
    - "-isystem/home/larry/qnx800/target/qnx/usr/include/c++/12.2.0/tr1"

    # Project includes
    - "-I."