window {
  background-color: #1f1f1f;
}

.big-button-icon {
  color: #EE44FF;
}


.big-button {
  font-size:28px;
  background-image: none;      /* REMOVE default background */
  box-shadow: none;            /* REMOVE theme shadows */
  background-color: white;
  border-radius:0px;
}

.big-button:hover {
  border-width: 5px;
  border-color: blue;
  border-style: solid;
  background-image: none;      /* REMOVE default background */
  box-shadow: none;            /* REMOVE theme shadows */
  background-color: gray;
}

.title {
  color: white;
  background-image: none;
  background-color: transparent;
  font-size:28px;
  margin-top: 40px;
}

progressbar.song-progress {
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom: 20px;
}

progressbar.song-progress text {
    color: white;
    font-size:28px;
}

progress, trough {
  min-height: 13px;
}

.volume-overlay {
  margin-left : 50px;
  margin-right : 50px;
  margin-bottom: 30px;
  margin-top: 30px;
}

progressbar.volume-overlay text {
    color: white;
    font-size:28px;
}

.volume-overlay-box {
  background-color:#EE44FF;
  margin: 20px;
}

.volume-overlay-text {
  font-size:36px;
}
